.DS_Store
.claude/
visualization.ibroadcast.albumart/build/
visualization.ibroadcast.albumart/build_android/
visualization.ibroadcast.albumart/src/stb_image.h
visualization.ibroadcast.albumart/*.dylib
visualization.ibroadcast.albumart/*.so
